body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.changelog-container {
    width: 600px;
    padding: 20px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.changelog-title {
    font-size: 30px;
    margin-bottom: 5px;
}

.changelog-subtitle {
    font-size: 14px;
    color: #888;
    margin-bottom: 50px;
}

.timeline {
    position: relative;
    margin: 20px 0 40px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 37%;
    width: 2px;
    height: calc(100% + 40px);
    background-color: black;
    transform: translateX(-37%);
}

.event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

.event::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 36.8%;
    transform: translate(-36.8%, -50%);
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.date {
    font-size: 14px;
    color: #888;
    flex: 0 0 30%;
    text-align: right;
}

.description {
    font-size: 14px;
    color: black;
    flex: 0 0 55%;
    text-align: left;
}

.visit-button {
    font-size: 14px;
    padding: 12px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}
.visit-button:hover {
    background-color: #333;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f1f1f1;
    color: #333;
    margin-top: 2rem;
    width: 100%;
    position: relative;
}
  
footer p {
    font-size: 0.9rem;
}